@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Mochiy+Pop+P+One&family=Poppins:wght@100&family=Roboto:ital,wght@0,400;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --main-green: #3ad666;
  /* --main-green: #78d492; */
  --light-grey: #d3d3d3;
  --mid-grey: #3a3939;
  --dark-grey: #1e1f22;
  --background: #020412;
  --purple: #6c63ff;
  --font-grey: #6a6a6a;
  --header-grey: #a9a9a9;
}

html,
body {
  /* background-image: linear-gradient(to left, #070707 40%, #020412 50%); */
  background-color: var(--background) !important;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  /* z-index: 10; */
  transition: all 2s ease-in;
}

body.dark-side {
  background-image: linear-gradient(to left, #070707 40%, #020412 50%);
}

html::-webkit-scrollbar {
  display: none;
}

/* nav and intro(section1) */
/*         */
/*         */

.logo {
  width: 70px;
  height: 50px;
  margin-left: 30px;
}
.primary-header {
  background-color: transparent;
  display: flex;
}

.primary-navigation {
  height: 100%;
  list-style-type: none;
  margin-right: min(0px, 100px);
}

.primary-navigation a {
  text-decoration: none !important;
  color: white;
}

.primary-navigation a:hover {
  color: var(--main-green);
}

.primary-navigation li {
  padding: 0px 20px;
  align-self: center;
}

.primary-navigation li a span {
  color: var(--main-green);
  display: none !important;
}

.mobile-nav-toggle {
  display: none;
}

#particles-js {
  position: fixed;
  min-width: 100%;
  height: 100%;
}

/* media queries */
@media (max-width: 480px) {
  .logo {
    margin-top: 25px;
  }

  .primary-navigation {
    margin: 0;
    top: 0;
    max-width: 100%;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    transform: translateX(100%);
    background-color: hsl(0 0% 100% /0.2);
    backdrop-filter: blur(20px);
    z-index: 10;
  }

  .primary-navigation li {
    margin-bottom: 20px;
  }

  .primary-navigation li a {
    z-index: 10;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    cursor: pointer;
    position: fixed;
    background-color: transparent;
    z-index: 999;
    width: 2rem;
    height: 2rem;
    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-nav-toggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: var(--main-green);
    transition: 0.2s;
    transform: translateY(-8px);
    box-shadow: 0 8px 0 var(--main-green);
  }

  .mobile-nav-toggle::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: var(--main-green);
    transform: translateY(8px);
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-color: var(--background);
    position: fixed;
  }

  .mobile-nav-toggle[aria-expanded="true"]::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 var(--main-green);
  }

  .mobile-nav-toggle[aria-expanded="true"]::after {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 0 var(--main-green);
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    max-width: 100%;
    /* padding-block: 0.5 rem; */
    padding-inline: clamp(1vw, 8vw, 12rem);
    background-color: transparent;
  }
  .primary-navigation li {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .type-effect {
    font-size: 20px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .logo {
    margin-top: 25px;
  }
  .primary-navigation {
    margin: 0;
    top: 0;
    max-width: 100%;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    transform: translateX(100%);
    background-color: hsl(0 0% 100% /0.2);
    backdrop-filter: blur(20px);
    z-index: 10;
  }

  .primary-navigation li {
    margin-bottom: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .primary-navigation li a {
    z-index: 10;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }
  .mobile-nav-toggle {
    cursor: pointer;
    position: fixed;
    background-color: transparent;
    z-index: 999;
    width: 2rem;
    height: 2rem;
    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-nav-toggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: var(--main-green);
    transition: 0.2s;
    transform: translateY(-8px);
    box-shadow: 0 8px 0 var(--main-green);
  }

  .mobile-nav-toggle::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: var(--main-green);
    transform: translateY(8px);
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-color: transparent;
    position: fixed;
  }

  .mobile-nav-toggle[aria-expanded="true"]::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 var(--main-green);
  }

  .mobile-nav-toggle[aria-expanded="true"]::after {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 0 var(--main-green);
  }
}

@media (min-width: 1000px) {
  .primary-navigation li {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1150px) {
  .primary-navigation li a span {
    display: inline-block !important;
    margin-right: 3px;
  }
}
/* ==================================================Section 1============================================ */
/* ======================================================================================================= */

/* .section1 {
  background-image: linear-gradient(to left, #070707 40%, #020412 50%);
} */

/* .jake-img {
  opacity: 0.8;
} */

.evil-kermit {
  position: absolute;
  right: -10%;
  width: 300px;
  height: 300px;
  cursor: pointer;
  transition: all 2s;
}

.evil-kermit:hover {
  transform: translateX(-185px);
}

.text-box {
  position: relative;
  margin: 15% 0% 0% 0%;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 26px;
  color: white;
}

.text-box h1 {
  font-size: 60px;
}

.text-box h1 span {
  animation: glow 5s linear infinite;
  outline: none;
  padding-bottom: 100px;
  color: #fff;
  text-shadow: 0 0 10px #78d492, 0 0 20px #78d492, 0 0 40px #78d492,
    0 0 80px #78d492, 0 0 160px #78d492;
}

/* From cssbuttons.io */
.text-box a {
  border: 2px solid var(--main-green);
  padding: 10px 25px;
  color: var(--main-green);
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  border-radius: 10%;
  outline: none;
  /* box-shadow: 0 0 1em 0.25em var(--glow-color); */
  /* 0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color); */
  /* text-shadow: 0 0 0.5em var(--glow-color); */
  position: absolute;
  transition: all 0.3s;
  margin-top: 70px;
}

.text-box a::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-green);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(0.3, 0.1);
}

.text-box a:hover {
  color: #fff;
  background-color: var(--main-green);
  box-shadow: 0 0 1em 0.25em #fff, 0 0 4em 2em var(--main-green),
    inset 0 0 0.75em 0.25em var(--main-green);
}

.text-box a:active {
  box-shadow: 0 0 0.6em 0.25em #fff 0 0 2.5em 2em var(--main-green);
  /* inset 0 0 0.5em 0.25em var(--glow-color); */
}

@media (min-width: 1200px) {
  .text-box h1 {
    font-size: 75px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, red);
  }
  .text-box a {
    margin-top: 150px;
  }
}

/* ====================================Section 2=========================================================== */
/*  ============================================================================================================  */
/*  ============================================================================================================   */

.my-self {
  max-width: 100%;
  margin: auto;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  display: block;
  text-align: center;
  position: relative;
  color: #fff;
  /*
    top: -10px;
    left: -20px; */
}
.my-self::before {
  content: "";
  width: 350px;
  height: 2px;
  background-color: var(--main-green);
  position: absolute;
  bottom: 0;
  left: -380px;
  display: none;
}

.my-self::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: var(--main-green);
  position: absolute;
  bottom: 0;
  left: -380px;
  border-radius: 50%;
  display: none;
}

.my-about-wrapper .about {
  font-size: 5rem;
  margin-left: 2rem;
  font-weight: 700;
  color: var(--main-green);
}

#para1 {
  max-width: 35rem;
  margin-left: 2rem;
  color: var(--mid-grey);
}

#para1 p {
  margin-top: 1rem;
  font-size: 20px;
  color: var(--font-grey);
  font-family: "Playfair Display";
}

#para1 p span {
  font-size: 40px;
  color: var(--main-green);
}

.btn {
  position: relative;
  left: 8rem;
  min-width: 240px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
}
.btn span {
  position: relative;
  transition: all 0.3s;
  transform: scale(1, 1);
  top: 13px;
  left: 10px;
  color: var(--main-green);
}
.btn-two::before,
.btn-two::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid var(--main-green);
}
.btn-two:hover span {
  color: transparent;
  font-size: 10px;
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}
.btn-two:hover::after,
.btn-two:hover::before {
  left: 96px;
  width: 64px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
#hobbies-button-container {
  height: 4rem;
}
.hobbies-cube {
  display: none;
}
.hobbies2 {
  display: none;
  font-family: "Cutive Mono", sans-serif;
  font-weight: 700;
  color: var(--main-green);
}
.hobbies2 span {
  margin-left: 20px;
  font-family: "Cutive Mono", sans-serif;
  position: relative;
  display: inline-block;
}
#hobbies-columns div {
  width: 3rem;
  height: 3rem;
  background-position: center;
  background-size: 90% 90%;
  background-repeat: no-repeat;
}

#hobbies-columns div:nth-child(1) {
  background-image: url("pictures/invader.png"); /* from svgrepo.com */
  background-position: center;
  background-size: 90% 90%;
  background-repeat: no-repeat;
}

#hobbies-columns div:nth-child(2) {
  background-image: url("pictures/naruto.png") !important; /* from svgcrush.com */
  background-position: center;
  background-size: 70% 70%;
  background-repeat: no-repeat;
}

#hobbies-columns div:nth-child(3) {
  background-image: url("pictures/ball.png"); /* from svgrepo.com */
  background-position: center;
  background-size: 70% 70%;
  background-repeat: no-repeat;
}

#hobbies-columns div:nth-child(4) {
  background-image: url("pictures/dumbbell.png"); /* from icon-icons.com */
  background-position: center;
  background-size: 70% 70%;
  background-repeat: no-repeat;
}

#hobbies-columns div:nth-child(5) {
  background-image: url("pictures/hiking.png"); /* from uxwing.com */
  background-position: center;
  background-size: 70% 70%;
  background-repeat: no-repeat;
}

#hobbies-columns div:nth-child(6) {
  background-image: url("pictures/swimming.png"); /* from svgrepo.com */
  background-position: center;
  background-size: 70% 70%;
  background-repeat: no-repeat;
}

@media (max-width: 310px) {
  .my-self {
    margin-left: 2rem;
  }
  .btn {
    left: 0;
  }
}

@media (max-width: 460px) {
  .btn {
    left: 10%;
  }
  .section2 {
    margin-bottom: 12rem;
  }
}

@media (min-width: 420px) {
  #hobbies-columns div {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media (min-width: 600px) {
  #hobbies-columns div {
    width: 6rem;
    height: 6rem;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .my-self {
    width: 400px;
    font-size: 2.5rem;
    top: -130px;
    left: -13%;
    color: #fff;
  }

  .my-about-wrapper {
    z-index: 2;
  }

  .my-about-wrapper .about {
    position: relative;
    top: 5px;
    margin-top: 5px;
    font-size: 12rem;
    font-weight: bold;
    color: grey;
  }
  .my-self::after {
    display: block;
    width: 40px;
    height: 40px;
    animation: ball 5s ease-in-out infinite alternate;
    -webkit-animation: ball 5s ease-in-out infinite alternate;
    -o-animation: ball 5s ease-in-out infinite alternate;
    z-index: -1 !important;
  }

  @keyframes ball {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(325px);
    }
  }

  .my-self::before {
    display: block;
  }
  .my-story p {
    width: 500px;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  #para1 {
    margin-left: 70px;
  }
  .btn {
    left: 10rem !important;
  }
}

@media (min-width: 1400px) {
  .my-self {
    width: 400px;
    font-size: 2.5rem;
    top: -130px;
    left: -16%;
  }

  .my-about-wrapper {
    z-index: 2;
  }

  .my-about-wrapper .about {
    margin-left: 8%;
    position: relative;
    top: 5px;
    margin-top: 5px;
    font-size: 12rem;
    font-weight: bold;
    color: grey;
  }
  .my-self::before {
    display: block;
    z-index: 15;
  }

  .my-self::after {
    display: block;
    animation: ball 5s ease-in-out infinite alternate;
    -webkit-animation: ball 5s ease-in-out infinite alternate;
    -o-animation: ball 5s ease-in-out infinite alternate;
    z-index: -1;
  }

  @keyframes ball {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(325px);
    }
  }

  #para1 {
    margin-left: 100px;
  }

  #para1 p {
    margin-left: 1.5rem;
  }

  .box-container {
    height: 50vh;
    width: 30vw;
    position: relative;
    top: 35%;
    left: 85%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
  }

  .box {
    height: 250px;
    width: 250px;
    position: relative;
    top: 100px;
    left: 100px;
    /* transform: rotateX(90deg); */
    transform-style: preserve-3d;
    animation: animate 5s infinite;
    transition: 2s ease-in;
  }

  @keyframes animate {
    0% {
      transform: rotateX(45deg) rotateY(-45deg);
    }
    25% {
      transform: rotateX(-45deg) rotateY(-45deg);
    }
    50% {
      transform: rotateX(45deg) rotateY(45deg);
    }
    75% {
      transform: rotateX(-45deg) rotateY(45deg);
    }
    100% {
      transform: rotateX(45deg) rotateY(-45deg);
    }
  }

  .card {
    height: 250px;
    width: 250px;
    text-align: center;
    padding: 100px 0px;
    background: transparent !important;
    border: 2px solid var(--main-green) !important;
    font-size: 32px;
    box-sizing: border-box;
    position: absolute !important;
  }

  #Front {
    transform: translateZ(125px);
    transition: 1s;
    background-image: url("pictures/invader.png") !important; /* from svgrepo.com */
    background-position: center !important;
    background-size: 50% 50% !important;
    background-repeat: no-repeat !important;
  }

  #Front.fly {
    top: 30px;
    right: -330px;
    height: 150px;
    transform: translateZ(0px) !important;
    transition: 3s;
  }

  #Back {
    transform: translateZ(-125px);
    transition: 1s;
    background-image: url("pictures/naruto.png") !important; /* from svgcrush.com */
    background-position: center !important;
    background-size: 40% 40% !important;
    background-repeat: no-repeat !important;
  }

  #Back.fly {
    top: -370px;
    right: -830px;
    height: 150px;
    transform: translateZ(0px) !important;
    transition: 1s;
  }

  #Left {
    right: 125px;
    transform: rotateY(-90deg);
    transition: 1s;
    background-image: url("pictures/ball.png") !important; /* from svgrepo.com */
    background-position: center !important;
    background-size: 40% 40% !important;
    background-repeat: no-repeat !important;
  }

  #Left.fly {
    top: -370px;
    right: -330px !important;
    height: 150px;
    transform: rotateY(0deg);
    transition: 1s;
  }

  #Right {
    left: 125px;
    transform: rotateY(90deg);
    transition: 1s;
    background-image: url("pictures/dumbbell.png") !important; /* from icon-icons.com */
    background-position: center !important;
    background-size: 30% 30% !important;
    background-repeat: no-repeat !important;
  }

  #Right.fly {
    top: 30px;
    left: 580px !important;
    height: 150px;
    transform: rotateY(0deg);
    transition: 1s;
  }

  #Top {
    bottom: 125px;
    transform: rotateX(90deg);
    transition: 1s;
    background-image: url("pictures/hiking.png") !important; /* from uxwing.com */
    background-position: center !important;
    background-size: 30% 30% !important;
    background-repeat: no-repeat !important;
  }

  #Top.fly {
    top: -170px;
    right: -580px;
    height: 150px;
    transform: rotateX(0deg);
    transition: 1s;
  }

  #Bottom {
    top: 125px;
    transform: rotateX(-90deg);
    transition: 1s;
    background-image: url("pictures/swimming.png") !important; /* from svgrepo.com */
    background-position: center !important;
    background-size: 30% 30% !important;
    background-repeat: no-repeat !important;
  }

  #Bottom.fly {
    top: -370px !important;
    right: -580px;
    height: 150px;
    transform: rotateX(0deg);
    transition: 1s;
  }

  .hobbies {
    position: absolute;
    display: none;
    top: -320px;
    right: -608px;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 700;
    font-family: "Cutive Mono", sans-serif;
    color: var(--main-green);
  }

  .hobbies span {
    margin-left: 20px;
    font-family: "Cutive Mono", sans-serif;
    position: relative;
    display: inline-block;
  }
}

@media (min-width: 1650px) {
  .hobbies-cube {
    display: block !important;
  }
}

@media (min-width: 1350px) and (max-width: 1650px) {
  #para1 p {
    margin-left: 2rem;
  }
}

@media (min-width: 1890px) and (max-width: 1920px) {
  .my-about-wrapper .about {
    z-index: -5 !important;
  }

  @keyframes ball {
    0% {
      transform: translateX(0);
    }

    38% {
      z-index: -10;
    }

    100% {
      transform: translateX(325px);
    }
  }
}

/* ================================section 3 ===================================================================  */
/*  ============================================================================================================  */
/*  ============================================================================================================  */
.coding-journey-header {
  font-size: 3.5rem;
  font-weight: 550;
  color: var(--header-grey);
}

.acquired-skills {
  margin: 0;
  position: relative;
}

.coding-header {
  position: relative;
}

.text-skills {
  font-size: 12rem;
  position: absolute;
  top: 0;
  opacity: 0.05;
  color: #fff;
}

.description p {
  margin-top: 25px;
  font-size: 20px;
  color: var(--font-grey);
  font-family: "Playfair display";
}

.timeline-container {
  position: relative;
  min-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.timeline-container h1 {
  margin-top: 20px;
  margin-bottom: 50px;
  color: white;
  padding: 0;
  width: auto;
  word-wrap: break-word;
}

.timeline {
  min-width: 80%;
  max-height: 100%;
  /* max-width: 800px; */
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.timeline ul li {
  position: relative;
  padding: 1.5rem;
  background-color: var(--dark-grey);
  color: white;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 90%;
}

.timeline ul p {
  display: none;
}

.timeline ul li:nth-child(4) {
  border: 1px solid var(--main-green);
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  word-wrap: break-word;
  width: 100%;
}

@media (max-width: 1399px) {
  #education {
    width: auto !important;
  }

  .timeline-container {
    display: block;
    min-width: 100% !important;
  }

  .timeline-container h1:nth-child(1) {
    display: flex;
    justify-content: center;
  }
  .timeline-content h1 {
    opacity: 1 !important;
  }
}

@media (max-width: 294px) {
  .timeline-container h1 span {
    display: none;
  }
}

@media (max-width: 450px) {
  .coding-journey-header {
    color: var(--main-green);
  }
}

@media (min-width: 1400px) {
  .coding-journey-header {
    font-size: 7rem;
  }
  .description {
    margin-top: 10rem;
  }

  .description h1:nth-child(2) {
    margin: 8rem 0;
  }
  .description h1:nth-child(3) {
    margin: 8.5rem 0;
  }
  .description h1:nth-child(4) {
    margin: 8.5rem 0;
  }
  .description h1:nth-child(5) {
    margin: 9rem 0;
  }
  .description h1:last-child {
    margin-top: 8.5rem;
  }
  .timeline {
    opacity: 0.8;
  }
  .timeline-content {
    position: relative;
  }
  .timeline-content h1 {
    opacity: 0;
  }
  .timeline-content p {
    display: flex !important;
    position: absolute;
    justify-content: center;
    align-items: center;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    font-size: 25px;
    opacity: 1;
  }

  .timeline:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-image: linear-gradient(#78d492 50%, #1e1f22 50%);
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline ul li {
    max-width: 50%;
    margin-bottom: 50px;
    position: relative;
    cursor: pointer;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }

  .timeline ul li::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--dark-grey);
    border-radius: 50%;
    top: 0;
  }

  .timeline ul li:nth-child(odd):after {
    right: -30px;
    transform: translate(50%, -60%);
    z-index: 20 !important;
    opacity: 1;
  }

  .timeline ul li:nth-child(even):after {
    left: -30px;
    transform: translate(-50%, -60%);
    z-index: 20;
  }

  .timeline ul li:nth-child(1)::after,
  .timeline ul li:nth-child(2)::after,
  .timeline ul li:nth-child(3)::after,
  .timeline ul li:nth-child(4)::after {
    background-color: var(--main-green);
  }

  .animated {
    font-weight: 700;
    font-size: 1rem;
    color: var(--font-grey);
  }

  .animated .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    transition: 0.5s;
  }

  .animated .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--main-green);
    transform-origin: 0 50%;
  }

  .animated .line1 {
    top: 0;
    left: 0;
  }

  .animated .letter {
    display: inline-block;
    line-height: 1em;
  }

  .animated2 {
    font-weight: 700;
    font-size: 1rem;
    color: var(--font-grey);
  }

  .animated2 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    transition: 0.5s;
  }

  .animated2 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--main-green);
    transform-origin: 0 50%;
  }

  .animated2 .line1 {
    top: 0;
    left: 0;
  }

  .animated2 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .animated3 {
    font-weight: 700;
    font-size: 1rem;
    color: var(--font-grey);
  }

  .animated3 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    transition: 0.5s;
  }

  .animated3 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--main-green);
    transform-origin: 0 50%;
  }

  .animated3 .line1 {
    top: 0;
    left: 0;
  }

  .animated3 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .animated4 {
    font-weight: 700;
    font-size: 1rem;
    color: var(--font-grey);
  }

  .animated4 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    transition: 0.5s;
  }

  .animated4 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--main-green);
    transform-origin: 0 50%;
  }

  .animated4 .line1 {
    top: 0;
    left: 0;
  }

  .animated4 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .animated5 {
    font-weight: 700;
    font-size: 1rem;
    color: var(--font-grey);
  }

  .animated5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    transition: 0.5s;
  }

  .animated5 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--main-green);
    transform-origin: 0 50%;
  }

  .animated5 .line1 {
    top: 0;
    left: 0;
  }

  .animated5 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .animated6 {
    font-weight: 700;
    font-size: 1rem;
    color: var(--font-grey);
  }

  .animated6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    transition: 0.5s;
  }

  .animated6 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--main-green);
    transform-origin: 0 50%;
  }

  .animated6 .line1 {
    top: 0;
    left: 0;
  }

  .animated6 .letter {
    display: inline-block;
    line-height: 1em;
  }
}

@media (min-width: 1400px) and (max-width: 1480px) {
  .timeline:before {
    background-image: linear-gradient(#78d492 52%, #1e1f22 52%);
  }
}

@media screen and (min-width: 837px) and (max-width: 1400px) {
  .timeline-container {
    min-height: 700px !important;
    transform: translateX(-50px);
    padding: 70px 0px 0px 0px !important;
  }

  .timeline:before {
    content: "";
    position: absolute;
    height: 99%;
    width: 2px;
    background-image: linear-gradient(#78d492 50%, #1e1f22 50%);
    left: 0;
    transform: translateX(-50%);
  }

  .timeline ul li {
    border-radius: 0px 20px 20px 20px !important;
  }

  .timeline ul li::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #1e1f22;
    border-radius: 50%;
  }

  .timeline ul li:nth-child(odd):after {
    left: -33px;
    transform: translate(-50%, -95px);
  }

  .timeline ul li:nth-child(even):after {
    left: -33px;
    transform: translate(-50%, -95px);
  }

  .timeline ul li:nth-child(1):after,
  .timeline ul li:nth-child(2):after,
  .timeline ul li:nth-child(3):after,
  .timeline ul li:nth-child(4):after {
    background-color: var(--main-green);
  }

  .timeline ul li:nth-child(4):after {
    left: -34px;
    transform: translate(-50%, -127px);
  }

  .timeline-content p {
    display: none;
  }
}

/* ====== section4 ================================================================================ */
/* ================================================================================================ */
#blur.active {
  transition: 0.6s;
  background-color: hsl(0 0% 100% /0.1);
  backdrop-filter: blur(20px);
}

#my-projects-header h2 {
  font-size: 4rem;
  font-weight: 550;
  color: var(--header-grey);
}

#my-projects-header p {
  font-size: 30px;
  color: transparent;
}

.tv-screen {
  fill: white !important;
}

.image-tv {
  fill-opacity: 1;
}

.tv-glow {
  fill: var(--main-green) !important;
}

.purple-glow {
  animation: greenColor 1.5s linear 1;
  animation-fill-mode: forwards;
  -webkit-animation: greenColor 1.5s linear 1;
  -webkit-animation-fill-mode: forwards;
  -o-animation: greenColor 1.5s linear 1;
  -o-animation-fill-mode: forwards;
}

@keyframes greenColor {
  100% {
    fill: var(--main-green);
  }
}

.tv-button {
  width: fit-content;
  position: relative;
  left: -15%;
}

.tv-button a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: 0.5s;
  font-weight: 1px;
  font-family: "Mochiy Pop P One", sans-serif;
  color: transparent;
  cursor: pointer;
  padding: 7px 12px;
}

.tv-button a.hov {
  color: var(--main-green);
}

.tv-button a.hov:hover {
  background-color: var(--main-green);
  color: #fff;
}

.tv-button a span {
  display: block;
  position: absolute;
  background: var(--mid-grey);
}

.tv-button a span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}

.tv-button a.hov span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.tv-button a span:nth-child(2) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleY(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.tv-button a.hov span:nth-child(2) {
  transform: scaleY(1);
  transform-origin: left;
  transition: transform 0.5s;
}

.tv-button a span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}

.tv-button a.hov span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.tv-button a span:nth-child(4) {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transform: scaleY(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.tv-button a.hov span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: left;
  transition: transform 0.5s;
}

/* .github {
  margin-left: 2rem;
  left: 30%;
} */

.image-slider {
  margin-left: 2rem;
}
.casa h1 {
  color: var(--font-grey);
}

.casa h1 span {
  font-family: "Cutive Mono", sans-serif;
  color: var(--main-green);
}

.casa svg {
  max-width: 40rem;
  margin-bottom: 2rem;
}

.casa .tv-button {
  position: relative;
  margin: 0 auto;
}
.casa-summary h1,
.casa-summary h3,
.casa-summary p {
  color: var(--font-grey);
}

.casa-summary h1 span {
  color: var(--main-green);
  font-family: "Cutive Mono", sans-serif;
}

.casa-made-with span:nth-child(1) {
  background-image: url("pictures/html5.png"); /* from vectorlogo.zone */
  background-position: center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
}

.casa-made-with span:nth-child(2) {
  background-image: url("pictures/css.png"); /* from vectorlogo.zone */
  background-position: center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
}

.casa-made-with span:nth-child(3) {
  background-image: url("pictures/javascript.png"); /* from vectorlogo.zone */
  background-position: center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
}

.casa-made-with span:nth-child(4) {
  background-image: url("pictures/python.png"); /* from vectorlogo.zone */
  background-position: center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
}

.casa-made-with span:nth-child(5) {
  background-image: url("pictures/sqlite.png"); /* from vectorlogo.zone */
  background-position: center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
}

.casa-made-with span:nth-child(6) {
  background-image: url("pictures/flask.png"); /* from vectorlogo.zone */
  background-position: center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
}

.casa-made-with span:nth-child(7) {
  background-image: url("pictures/heroku.png"); /* from vectorlogo.zone */
  background-position: center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
}

#carouselExampleFade {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  top: 35%;
}

#carouselExampleFade.visible {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 100000000;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: auto !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.xpoze svg {
  max-width: 36rem;
  margin-left: 4rem;
}
.xpoze h1 {
  color: var(--font-grey);
}
.xpoze h1 span {
  color: var(--purple);
  font-family: "Cutive Mono", sans-serif;
}
.xpoze-summary h1,
.xpoze-summary p {
  color: var(--font-grey);
}
.xpoze-summary h1 span {
  color: var(--purple);
  font-family: "Cutive Mono", sans-serif;
}

.xpoze-button {
  display: flex;
  justify-content: center;
  /* width: fit-content; */
  position: relative;
  /* left: -13%; */
}

.xpoze-button a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: 0.5s;
  font-family: "Mochiy Pop P One", sans-serif;
  color: transparent;
  padding: 5px 10px;
  font-size: 16px;
}

.xpoze-button a.hov {
  color: var(--purple);
}

.xpoze-button a.hov:hover {
  background-color: var(--purple);
  color: #fff;
}

.xpoze-button a span {
  display: block;
  position: absolute;
  background: var(--mid-grey);
}

.xpoze-button a span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}

.xpoze-button a.hov span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.xpoze-button a span:nth-child(2) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleY(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.xpoze-button a.hov span:nth-child(2) {
  transform: scaleY(1);
  transform-origin: left;
  transition: transform 0.5s;
}

.xpoze-button a span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}

.xpoze-button a.hov span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.xpoze-button a span:nth-child(4) {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transform: scaleY(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.xpoze-button a.hov span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: left;
  transition: transform 0.5s;
}

.xpoze-image {
  fill-opacity: 0.8 !important;
}

.purple-tv {
  fill: var(--purple) !important;
}

.xpoze-background {
  fill: #2f2e41;
}

.xpoze-glow {
  animation: purpleColor 1.5s linear 1;
  animation-fill-mode: forwards;
  -webkit-animation: purpleColor 1.5s linear 1;
  -webkit-animation-fill-mode: forwards;
  -o-animation: purpleColor 1.5s linear 1;
  -o-animation-fill-mode: forwards;
}

@keyframes purpleColor {
  100% {
    fill: var(--purple);
  }
}

@media (max-width: 410px) {
  .tv-button a {
    padding: 5px 10px;
    font-size: 10px;
  }
  .image-slider {
    margin-left: 1rem;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .xpoze-button a {
    left: -16%;
  }
  .tv-button {
    left: -25%;
  }
}

@media (min-width: 1200px) {
  .xpoze-button a {
    left: -12%;
  }
  #my-projects-header h2 {
    font-size: 8rem;
  }
}

/* =================================Section5============================================ */
#contact-description h2 {
  font-size: 3.7rem;
  font-weight: 550;
  color: var(--header-grey);
}
#contact-description p {
  color: var(--font-grey);
  font-size: 20px;
}
#contact-description h1 {
  font-size: 2.7rem;
  color: var(--main-green);
}

.sci {
  position: relative;
  display: flex;
  justify-content: center;
  transform: translateX(-20px);
}

.sci li {
  list-style: none;
  display: flex;
  justify-content: center;
}

.sci li::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 8vw;
  transition: 0.5s;
  opacity: 0;
  z-index: -10;
  pointer-events: none;
}

.sci li:hover::before {
  opacity: 0;
  transform: translate(-50%, calc(-50% + 150px));
  display: block;
}

.sci li a {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  border-radius: 10px;
  text-decoration: none;
  margin: 20px 10px;
  font-size: 2em;
  transform-style: preserve-3d;
  perspective: 500px;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
}

.js-tilt-glare {
  border-radius: 10px;
}

.sci li a:hover {
  color: white;
}

.sci li a i {
  transition: 0.25s;
  pointer-events: none;
}

.sci li a:hover i {
  color: white !important;
  transform: scale(1.5) translateZ(50px) !important;
}

.sci li a:hover.facebook {
  background-color: #1877f2;
}

.sci li a:hover.instagram {
  background-color: #e4405f;
}

.sci li a:hover.linked {
  background-color: #0072b1;
}

.sci li a:hover.github {
  background-color: #6cc644;
}

.contact-form {
  min-width: 400px;
  line-height: 4.5rem;
  font-family: "Roboto", sans-serif;
  z-index: 10;
  opacity: 0.9;
  margin-right: 10px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  padding: 5px 20px;
  background: #3a3939;
  border-right: 1px solid var(--main-green);
}
textarea {
  width: 100%;
  height: 40vh;
  background: #3a3939;
  outline: none;
  border: none;
  padding: 60px 20px;
}

.contact-button {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  color: #3a3939;
  background: var(--main-green);
  font-size: 0.875rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 450px) {
  .contact-form {
    min-width: 90%;
  }
}
@media (min-width: 1400px) {
  #contact-description h2 {
    font-size: 7rem;
  }
  #contact-description h1 {
    font-size: 3rem;
  }
}

/* =================================================scroll icon=========================================== */

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  background-color: var(--background);
  box-shadow: 0 0 3px 2px #333;
  width: 2rem;
  height: 2rem;
  border-radius: 10px;
  display: grid;
  place-items: center;
  right: 2.5rem;
  color: var(--main-green);
  animation: bounce 2s ease-in-out infinite;
  -webkit-animation: bounce 2s ease-in-out infinite;
  -o-animation: bounce 2s ease-in-out infinite;
  visibility: visible;
  z-index: -100;
}

.top-link:hover {
  color: #78d492;
}

@keyframes bounce {
  0% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(-7px);
  }
}

.show-link {
  visibility: visible;
  z-index: 100;
}

/* ===========================================resume================================================= */

#resume {
  padding-top: 40px;
  position: relative;
}

#resume img {
  width: 300px;
  height: auto;
  transition: all 1s;
  cursor: pointer;
}

#resume img.expand {
  width: 600px;
}

/* From cssbuttons.io by @adamgiebl */
#resume-button a {
  text-decoration: none;
  z-index: 1;
  width: 150px;
  color: var(--main-green);
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: transparent;
  border: 1px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
}

#resume-button a:hover {
  border: 1px solid var(--main-green);
  transform: translateY(-7px);
}

#resume-button a:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}
